* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-primary: #e0e6e0;
    --background-secondary: #83967f63;

    --color-brand: #7fa653;
    --color-brand-hover: #63783db7;
    --color-danger: #99cd85;
    
    --content-primary: #343536e8;
    --content-secondary: #343536;
    --content-tertiary: #9CA3AF;
    --black: #19181879;

    --border-primary: #D1D5DB;
    --border-hover: #bdd0b9;

    --font-family: "Inter", sans-serif; 
    --title: 700 1.5rem/1.3 var(--font-family);
    --label: 600 1rem/1.25 var(--font-family);
    --p: 500 1rem/1.25 var(--font-family);
    --link: 500 0.75rem/1.14 var(--font-family);
}

body {
    padding-bottom: 4rem;
    background-color: var(--background-primary);
}

#app-wrapper {
    max-width: 627px;
    width: 100%;

    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 627px;
    width: 100%;
}