.app-header {
    text-align: center;
    padding: 30px 0;
}

.logo {
    width: 12rem;
    height: auto;
}

.btn-voltar {
   font: var(--link);
   color: var(--color-brand);
   display: block;
   text-decoration: none;
   
   margin-bottom: 0.5rem;
   transition: color 0.2s ease-in-out;
}

.btn-voltar:hover {
    color: var(--content-primary);
}

.page-title {
    font: var(--title);
    color: var(--content-primary);

    margin-top: 0;
    margin-bottom: 2.5rem;
}


