.app-header {
    text-align: center;
    padding: 1.87rem 0;
}

.logo {
    width: 12rem;
    height: auto;
}

.btn-voltar {
   font: var(--link);
   color: var(--color-brand);
   display: block;
   text-decoration: none;
   
   margin-bottom: 0.5rem;
   transition: color 0.2s ease-in-out;
}

.btn-voltar:hover {
    color: var(--content-primary);
}

.page-title {
    font: var(--title);
    color: var(--content-primary);

    margin-top: 0;
    margin-bottom: 2.5rem;
}

.add-form {
    display: flex;
    align-items: stretch;
    margin-bottom: 2.5rem;
    gap: 1rem;
}

.add-form #input-item {
    flex-grow: 1;
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;
    font-size: 1rem;

    position: relative;
    z-index: 5;
}

.add-form #input-item::placeholder {
    color: var(--content-tertiary);
    padding: 18px;
}

.add-form #input-item:hover {
    outline: none;
    border-color: var(--border-hover);
    z-index: 10;
}

.add-form #input-item:focus,
.add-form #input-item:active {
    outline: none;
    border-color: var(--color-brand);
    z-index: 10;
}

.btn-adicionar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-brand);
    color: var(--always-write);
    font: var(--label);
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 0.75rem;
}

.btn-adicionar:hover {
    background-color: var(--color-brand-hover);
}

.btn-adicionar:active {
    background-color: var(--color-brand)
}



