.app-header {
    text-align: center;
    padding: 1.87rem 0 3.875rem;
}

.logo {
    width: 155.51px;
    height: 40px;
}

.btn-voltar {
    font: var(--link); 
    color: var(--color-brand);
    text-decoration: none;
    
    
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    margin-bottom: 1rem;
    
    width: auto;
    text-align: left;
}

.btn-voltar strong {
    font: (--link);
    font-weight: 500; 
}

.btn-voltar .arrow-icon {
   
    width: 0.7rem;
    height: 0.7rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-voltar .arrow-icon svg {
    display: block;
    width: 1rem;
    height: 1rem; /* O SVG preenche 100% da altura do SPAN pai */
    margin-bottom: 0.2rem;
}

.btn-voltar:hover {
    color: var(--content-primary);
}

.page-title {
    font: var(--title);
    color: var(--content-primary);

    margin-top: 0;
    margin-bottom: 2.75rem;
}

.add-form {
    display: flex;
    align-items: stretch;
    margin-bottom: 2.5rem;
    gap: 1rem;
}

.add-form #input-item {
    flex-grow: 1;
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;
    font-size: 1rem;

    padding: 0 1.12rem;

    position: relative;
    z-index: 5;
}

.add-form #input-item::placeholder {
    color: var(--content-tertiary);
   
}

.add-form #input-item:hover {
    outline: none;
    border-color: var(--border-hover);
    z-index: 10;
}

.add-form #input-item:focus,
.add-form #input-item:active {
    outline: none;
    border-color: var(--color-brand);
    z-index: 10;
}

.btn-adicionar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-brand);
    color: #e5dfdf;
    font: var(--label);
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 0.75rem;
}

.btn-adicionar:hover {
    background-color: var(--color-brand-hover);
}

.btn-adicionar:active {
    background-color: var(--color-brand)
}

.lista-itens {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
}

.item-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--background-secondary);
    border: 2px solid var(--border-secondary);
    border-radius: 0.75rem;
    gap: 0.75rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.75rem;
    font: var(--p);
    color: var(--content-primary);
    padding: 0.5rem 0;

}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    border: 2px solid #ffffff97;
    border-radius: 0.375rem;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.checkbox-container input[type="checkbox"]:hover {
    border-color: rgba(0, 0, 0, 0.148);
}

.checkbox-container input[type="checkbox"]:checked {
    border-color: var(--color-brand);
    background-color: var(--color-brand);
}

.checkbox-container input[type="checkbox"]:checked::after {
    content: '✓'; 
    color: var(--black);
    font-size: 0.8rem;
    line-height: 1;
    font-weight: 700;
    position: absolute;

}

.btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.btn-delete img {
    width: 2rem;
    height: 2rem;
}

.btn-delete:hover {
    opacity: 0.7;
}

.item-texto {
    font: var(--p);
    color: var(--content-secondary);
    gap: 0.5rem;
}

.notification-error {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);

    max-width: 39.1875rem;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.75rem 0.75rem;
    background-color: var(--color-danger); 
    border-radius: 0.825rem; 
    margin-top: 2.25rem; 

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -2px rgba(0, 0, 0, 0.3);
    z-index: 100;

    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0;
    pointer-events: none;
}

.notification-error.show {
    transform: translateX(-50%) translateY(-5rem); 
    opacity: 1; 
    pointer-events: auto; 
}

.notification-error p {
    font: var(--p);
    color: var(--black);
    margin: 0;
    display: flex;
    align-items: center;
}

.notification-error p::before {
    content: '';
    
    width: 1.25rem; 
    height: 1.25rem;
    
    background-image: url('/assets/icons/warning-circle-filled.svg'); 
    color: var(--black);
    background-size: contain;
    background-repeat: no-repeat;
    
    margin-right: 0.5rem;
}   

.btn-close-notification {
       
    background: none;
    border: none;
    color: var(--black); /* Ícone 'X' branco */
    cursor: pointer;
    line-height: 1;
}

.btn-close-notification svg path {
    fill: currentColor;
    
}

@media (max-width: 627px){
    
.container {
    padding: 2.125rem 2rem;
}

.app-header {
    display: none;
}
   
.add-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}

.add-form #input-item {
    width: 100%;
    padding: 0.75rem 0.75rem;
    border-radius: 0.75rem;
}

.btn-adicionar {
    width: 100%;
}

}